@using Core.Utilities.Results.ComplexTypes
@using Entities.Dtos
@model CategoryListDto
@{
    ViewBag.Title = "Kategoriler Index";
}

@if (Model.ResultStatus == ResultStatus.Success)
{

    <div id="modalPlaceHolder" aria-hidden="true">
    </div>

    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display:none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Adı</th>
                            <th>Açıklaması</th>
                            <th>Aktif mi?</th>
                            <th>Silinmiş mi?</th>
                            <th>Note</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Adı</th>
                            <th>Açıklaması</th>
                            <th>Aktif mi?</th>
                            <th>Silinmiş mi?</th>
                            <th>Note</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr name="row_@category.Id">
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.InsertDate.ToShortDateString()</td>
                                <td>@category.InsertByName</td>
                                <td>@category.ModifiedDate.ToShortDateString()</td>
                                <td>@category.ModifiedByName</td>
                                <td>
                                    <button class="btn btn-info btn-sm">
                                        <span class="fas fa-edit"> </span> Düzenle
                                    </button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@category.Id">
                                        <span class="fas fa-minus-circle"> </span> Sil
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen
        <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız</a>
    </div>
}

@section js{

    <script src="~/js/categoryindex.js" type="application/ecmascript"></script>

}